imh {
    text-align: center;
    margin: 0 auto;
    color:white ;
    padding:3%;
    height: 38%;
    border: 5px solid #green;





}

div {
    background-image: url('julian%20opie%20selfie.1.psd');
    background-size: cover;
}

.main {

    colour: white;
}
